footer {
    background-color: #0a1c24;
}
footer a[aria-current] {
    color: #e4ac54!important;
}
footer a, footer a:active, footer a:focus {
    color: white;
    text-decoration: none;
    transition: color 0.5s ease
}
footer a:hover, footer a[aria-current]:hover {
    color: #b2ebed!important;
    text-decoration: none;
}
.footer-area1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}